#arrow {
    width: 2vw;
    height: 1vw;
    position: relative;
    top: 1vw;
    left: 1vw;
}

.moreinfo {
    display: flex;
}

.container {
    overflow:hidden;
    position:relative;
    height: 10vw;
}

.details {
	overflow-y: scroll;
    height:100%;

	-webkit-transition:-webkit-transform .3s ease;
       -moz-transition:   -moz-transform .3s ease;
        -ms-transition:    -ms-transform .3s ease;
            transition:        transform .3s ease;
}

.details.opened { 
    /* visible */
    -webkit-transform: translate(0, 0%);
       -moz-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
}
.details.closed { 
    /* completely offscreen */
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
}
