@font-face {
    font-family: Helvetica;
    src: url("/staticwebsite/fonts/Helvetica.ttf");
}

#logo img {
    width: 15vw;
}

#logo {
    text-align: center;
    margin-top: 1.5vw;
}

.alphabet a {
    font-family: Helvetica;
    color: black;
    font-size: 1vw;
    text-decoration: none;
}

.alphabet a:hover {
    opacity: 80%;
}

.alphabet ol {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    margin-left: 2vw;
    list-style: none;
    margin-bottom: 1.5vw;
}

hr {
    margin-right: 4.5vw;
    margin-left: 4.5vw;
    margin-top: 1vw;
    color: gainsboro;
}

.letters ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2vw;
}

.letters li {
    padding: 1vw 1vw 1vw 1vw;
    background-color: gainsboro;
    margin-right: 1vw;
    margin-left: 2vw;
}

.letters li:hover {
    background-color: whitesmoke;
}

.brandlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1vw;
    margin-left: 3vw;
}

.letters {
    margin-bottom: 3vw;
}

.letters h2 {
    font-family: Helvetica;
    font-size: 2vw;
    margin-left: 5vw;
}

.letters a {
    text-decoration: none;
    font-family: Helvetica;
    color: black;
}

h1 {
    font-family: Helvetica;
    margin-top: 2vw;
    margin-left: 5vw;
    text-transform: capitalize;
}

article img {
    width: 20vw;
    height: auto;
    border: 1px gray solid;
}

article {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vw;
    width: 20vw;
}

article img:hover {
    opacity: 80%;
}

article.soldOut img {
    opacity: 60%;
  }

article.soldOut img:hover {
    opacity: 50%;
  }

article.soldOut::before {
    content: "Sold out";
    position: absolute;
    background: #707070;
    color: white;
    padding: 0.8vw;
    font-family: Helvetica;
}

.image.soldOut::before {
    content: "Sold out";
    position: absolute;
    left: 10.6vw;
    top: 23.4vw;
    background: #707070;
    color: white;
    padding: 1vw;
    font-family: Helvetica;
}

.image.soldOut img {
    opacity: 60%;
}

.marka {
    color: gray;
    margin-bottom: 0;
}

.discount {
    padding: 0.5vw;
    background-color: #d62727;
    color: white;
    position: relative;
    left: 4vw;
    font-size: 1vw;

}

.cena.onSale {
    text-decoration: line-through;
}

.ceny p {
    display: inline;
    
}

.price p {
    display: inline;
    margin-right: 0.8vw;
    font-family: Helvetica;
}

.price {
    margin-top: 2vw;
    margin-left: 1vw;
    margin-bottom: 3vw;
}

.price p:last-child {
    margin-left: 8vw;
}


.nowacena {
    color: #d62727;
}

article p {
    width: 20vw;
    height: auto;
    font-family: Helvetica;
    color: black;
    margin-top: 0.5vw;
}

article a {
    text-decoration: none;
}

ul.breadcrumbs {
    list-style: none;
    margin-top: 4vw;
    margin-left: 2vw;
}

ul.breadcrumbs li+li:before {
    padding: 1vw;
    content: "/\00a0";
}

ul.breadcrumbs li {
    font-family: Helvetica;
    display: inline;
    font-size: 1.2vw;
  }

ul.breadcrumbs li a {
    text-decoration: none;
    color: black;
}

ul.breadcrumbs li a:hover {
    opacity: 80%;
    text-decoration: underline;
}

li.brandname {
    text-transform: capitalize;
}

.image img {
    height: 50vw;
    border: 1px gray solid;
    margin-left: 10vw;
    margin-top: 5vw;
}

#brandname {
    font-family: Helvetica;
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.7vw;
    font-weight: 700;
}

.description #title {
    font-family: Helvetica;
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 2vw;
}

#price {
    font-family: Helvetica;
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-top: 1vw;
}

#info {
    font-family: Helvetica;
    margin-top: 2vw;
}

#info p {
    font-size: 3vw;
}

button {
    margin-top: 2vw;
    margin-left: 1vw;
    width: 29vw;
    height: 3.5vw;
    font-size: 1.5vw;
    font-weight: 700;
    background-color: black;
    color: white;
    font-family: Helvetica;
}

label {
    margin-left: 1vw;
    font-size: 1.3vw;
    border: 1px black solid;
    padding: 1vw 13vw 1vw 1vw;
    width: 30vw;
}

select {
    margin-left: 1vw;
    width: 5vw;
    height: 2vw;
    font-size: 1.5vw;
}

.description {
    justify-self: center;
    height: 20vw;
    width: 30vw;
    padding: 1vw 1vw 1vw 1vw;
    margin-top: 3vw;
}

.productinfo {
    margin-left: 10vw;
    font-family: Helvetica;
    background-color: lightgray;
    width: 26.5vw;
    height: 25vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;

}

.productinfo h1 {
    font-size: 2vw;
    margin: 0;
    margin-top: 1.5vw;
    text-align: center;
}

.productinfo h2 {
    margin-top: 3vw;
    font-size: 1.5vw;
}

.productinfo p {
    margin-top: -1vw;
    font-size: 1.2vw;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-left: 10vw;
    width: 77vw;
}

.details p {
    width: 75vw;
}

summary {
    font-family: Helvetica;
    font-size: 1.5vw;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


.details {
    font-size: 1.2vw;
    line-height: 1.5;
    width: 80vw;
    margin-right: 8vw;;
    font-family: Helvetica;
}

footer p {
    font-family: Helvetica;
    font-size: 1vw;
    color: black;
}

footer {
    margin-top: 3vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5vw;
}

.hidden {
    display: none;
}